@model KinderhuisStageOpdracht.Models.Viewmodels.PlanningViewModel.PlanningListViewModel
@{
    ViewBag.Title = "ClientPlanning";
}



@using (Html.BeginForm("PlanningOverview", "Planning", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="formPage">
        @Html.AntiForgeryToken()
        <table class="form">
            <tr>
                <th>
                    @Html.LabelFor(m => m.ClientPlanningViewModel.Datum, new { @class = "control-label" })
                    @Html.HiddenFor(m => m.ClientId)
                </th>
                <td>
                    @Html.TextBoxFor(m => m.ClientPlanningViewModel.Datum, new { @class = "datepickersanctie form-control", @readonly = true })
                    @Html.ValidationMessageFor(m => m.ClientPlanningViewModel.Datum, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(m => m.ClientPlanningViewModel.Activiteit, new { @class = "control-label" })
                </th>
                <td>
                    @Html.TextAreaFor(m => m.ClientPlanningViewModel.Activiteit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ClientPlanningViewModel.Activiteit, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
    </div>

    <table class="buttontable">
        <tr>
            <td>
                <input type="submit" class="button" value="Opslaan" />
            </td>
            <td>
                <span class="terugButton">
                    @Html.ActionLink("Terug", "OpvoederIndex", "Gebruiker")
                </span>
            </td>
        </tr>
    </table>
}

<div class="planningcardsystem">
    @foreach (var p in Model.PlannigList)
    {
        <div class="planningcard">
            <div class="planningcarddate">
                @Html.DisplayFor(modelItem => p.Dag) - 
                @Html.DisplayFor(modelItem => p.Datum)
            </div>
            <div class="planningcardactivity">
                @Html.DisplayFor(modelItem => p.Activiteit)
            </div>
            <div class="planningcardaction">
                @Ajax.ActionLink("Verwijderen", "", "Planning", new { id = p.Id }, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    OnComplete = "window.location.reload()"
                })
            </div>
        </div>
    }

</div>
