@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.OpvoederEnClientListViewModel

@{
    ViewBag.Title = "AdminIndex";

}

<h2>Administrator index</h2>
<h3>Leefgroep</h3>
@Html.ActionLink("Voeg een leefgroep toe", "CreateLeefgroep")
<table class="table">
    <tr>
        <th>Naam</th>
        <th>Adres</th>

    </tr>
    @foreach (var o in Model.Llvm.List)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => o.Naam)</td>
            <td>@Html.DisplayFor(modelItem => o.Adres)</td>
        </tr>
    }
</table>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Zoek via naam: </td>
            <td>@Html.TextBox("SearchString", null, new { @class = "form-control" })</td>
            <td><input type="submit" value="Zoeken" class="button" /></td>
            <td>
                <span class="terugButton">
                    @Html.ActionLink("Reset", "AdminIndex")
                </span>
            </td>
        </tr>
    </table>
}

<h3>Opvoeders</h3>
@Html.ActionLink("Voeg opvoeder toe", "CreateOpvoeder")
<table class="table">
    <tr>
        <th>Naam</th>
        <th>Leefgroep</th>
        <th>Acties</th>

    </tr>
    @foreach (var o in Model.Olmv.Opvoeders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => o.FullName)
                @if (o.IsStagiair)
                {
                    <span> - S</span>
                }
            </td>
            <td>@Html.DisplayFor(modelItem => o.Opvangtehuis)</td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = o.Id })
                <span> | </span>
                @Html.ActionLink("Aanpassen", "Edit", new { id = o.Id })
                <span> | </span>
                @Html.ActionLink("Wachtwoord wijzigen", "VergetenWachtwoordAanpassen", new { id = o.Id })
                <span> | </span>
                @Html.ActionLink("Verwijderen", "Delete", new { id = o.Id })
            </td>
        </tr>
    }
</table>

<h3>Cliënten</h3>
@Html.ActionLink("Voeg cliënt toe", "CreateClient")
<table class="table">
    <tr>
        <th>Naam</th>
        <th>Leefgroep</th>
        <th>Acties</th>
    </tr>

    @foreach (var o in Model.Clvm.Clients)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => o.FullName)</td>
            <td>@Html.DisplayFor(modelItem => o.Opvangtehuis)</td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = o.Id })
                <span> | </span>
                @Html.ActionLink("Aanpassen", "Edit", new { id = o.Id })
                <span> | </span>
                @Html.ActionLink("Wachtwoord wijzigen", "VergetenWachtwoordAanpassen", new { id = o.Id })
                <span> | </span>
                @Html.ActionLink("Verwijderen", "Delete", new { id = o.Id })

            </td>
        </tr>
    }
</table>
