@{
    ViewBag.Title = "ClientIndex";
}

<h2>CliëntIndex</h2>
@*<ul class="category-menu">
        <li>@Html.ActionLink("Suggestie", "CreateSuggestie", "Opvangtehuis")</li>
        <li>@Html.ActionLink("Klacht", "Klacht", "Opvangtehuis")</li>
        <li>@Html.ActionLink("De menu", "WeekMenu", "Opvangtehuis")</li>
        <li>@Html.ActionLink("Sancties", "Sancties", "Gebruiker")</li>
        <li>@Html.ActionLink("Kamer Controle", "KamerControle", "Gebruiker")</li>
        <li>@Html.ActionLink("Iets zeggen tegen?", "OpvoederOverzicht", "Gebruiker")</li>
    </ul>*@

<table class="clientIndexTable">
    <tr>
        @*<td>@Html.ActionLink("Suggestie", "CreateSuggestie", "Opvangtehuis")</td>*@
        <td>
            <a href="@Url.Action("CreateSuggestie", "Opvangtehuis")">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/suggestie.png")" alt="Een suggestie maken" title="Een suggestie maken" />
            </a>
        </td>
        <td>
            @*@Html.ActionLink("Klacht", "Klacht", "Opvangtehuis")*@
            <a href="@Url.Action("Klacht", "Opvangtehuis")">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/klacht.png")" alt="Een klacht versturen" title="Een klacht versturen" />
            </a>
        </td>
        <td>
            @*@Html.ActionLink("De menu", "WeekMenu", "Opvangtehuis")*@
            <a href="@Url.Action("WeekMenu", "Opvangtehuis")">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/menu.png")" alt="Weekmenu" title="Weekmenu" />
            </a>
        </td>
    </tr>

    <tr>
        <td>
            @*@Html.ActionLink("Sancties", "Sancties", "Gebruiker")*@
            <a href="@Url.Action("Sancties", "Gebruiker")">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/sanctie.jpg")" alt="Sancties" title="Sancties" />
            </a>
        </td>
        <td>
            @*@Html.ActionLink("Kamer Controle", "KamerControle", "Gebruiker")*@
            <a href="@Url.Action("KamerControle", "Gebruiker")">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/checklist.png")" alt="Kamercontrole" title="Kamercontrole" />
            </a>
        </td>
        <td>
            @*@Html.ActionLink("Iets zeggen tegen?", "OpvoederOverzicht", "Gebruiker")*@
            <a href="@Url.Action("OpvoederOverzicht", "Gebruiker")">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/chat.png")" alt="Iets zeggen tegen een opvoeder" title="Iets zeggen tegen een opvoeder" />
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="http://www.google.be">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/google.png")" alt="Google" title="Google" />
            </a>
        </td>
        <td>
            <a href="@Url.Action("Instellingen")">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/settings.png")" alt="Instellingen" title="Instellingen" />
            </a>
        </td>
        <td>
            <a href="http://www.youtube.be">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/youtube.png")" alt="Youtube" title="Youtube" />
            </a>
        </td>
    </tr>
</table>



