@{
    ViewBag.Title = "ClientIndex";
}

<table class="clientIndexTable">
    <tr>
        <td>
            <a href="http://www.google.be" id="googlelink">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/google.png")" alt="Google" title="Google" />
            </a>
        </td>
        <td>
            <a href="@Url.Action("WeekMenu", "Opvangtehuis", new{Week = 0})" id="orangelink">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/menu.png")" alt="Weekmenu" title="Weekmenu" />
            </a>
        </td>
        <td>
            <a href="http://www.youtube.be" id="youtubelink">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/youtube.png")" alt="YouTube" title="YouTube" />
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="@Url.Action("Sancties", "Gebruiker")" id="beloningstraflink">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/strafbeloning.png")" alt="Beloningen en straffen" title="Beloningen en straffen" />
            </a>
        </td>
        <td>
            <a href="@Url.Action("KamerControle", "Gebruiker")" id="brownlink">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/checklist.png")" alt="Kamercontrole" title="Kamercontrole" />
            </a>
        </td>
        <td>
            <a href="@Url.Action("OpvoederOverzicht", "Gebruiker")" id="cyanlink">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/chat.png")" alt="Iets zeggen tegen een opvoeder" title="Iets zeggen tegen een opvoeder" />
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="@Url.Action("CreateSuggestie", "Opvangtehuis")" id="groenlink">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/suggestie.png")" alt="Een suggestie maken" title="Een suggestie maken" />
            </a>
        </td>
        <td>
            <a href="@Url.Action("ClientPlanning", "Planning")" id="planninglink">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/planning.png")" alt="Je planning bekijken" title="plannen" />
            </a>
        </td>
        <td>
            <a href="@Url.Action("Klacht", "Opvangtehuis")">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/klacht.png")" alt="Een klacht versturen" title="Een klacht versturen" />
            </a>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <a href="@Url.Action("Instellingen")" id="settingslink">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/settings.png")" alt="Instellingen" title="Instellingen"/>
            </a>
        </td>
        <td></td>
    </tr>
</table>



