@{
    ViewBag.Title = "ClientIndex";
}

<h2>CliëntIndex</h2>
@*<ul class="category-menu">
    <li>@Html.ActionLink("Suggestie", "CreateSuggestie", "Opvangtehuis")</li>
    <li>@Html.ActionLink("Klacht", "Klacht", "Opvangtehuis")</li>
    <li>@Html.ActionLink("De menu", "WeekMenu", "Opvangtehuis")</li>
    <li>@Html.ActionLink("Sancties", "Sancties", "Gebruiker")</li>
    <li>@Html.ActionLink("Kamer Controle", "KamerControle", "Gebruiker")</li>
    <li>@Html.ActionLink("Iets zeggen tegen?", "OpvoederOverzicht", "Gebruiker")</li>
</ul>*@

<table class="clientIndexTable">
    <tr>
        <td>@Html.ActionLink("Suggestie", "CreateSuggestie", "Opvangtehuis")</td>
        <td>@Html.ActionLink("Klacht", "Klacht", "Opvangtehuis")</td>
        <td>@Html.ActionLink("De menu", "WeekMenu", "Opvangtehuis")</td>
    </tr>

    <tr>
        <td>@Html.ActionLink("Sancties", "Sancties", "Gebruiker")</td>
        <td>@Html.ActionLink("Kamer Controle", "KamerControle", "Gebruiker")</td>
        <td>@Html.ActionLink("Iets zeggen tegen?", "OpvoederOverzicht", "Gebruiker")</td>
    </tr>

    <tr>
        <td>
            <a href="http://www.google.be">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/google.png")" alt="Google"/>
            </a>
        </td>
        <td>
            <a href="@Url.Action("Instellingen")">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/settings.png")" alt="Instellingen" />
            </a>
        </td>
    </tr>
</table>



