@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.OpvoederListViewModel

@{
    ViewBag.Title = "ClientIndex";
}

<h2>CliëntIndex</h2>
<ul class="category-menu">
    <li>@Html.ActionLink("Suggestie", "CreateSuggestie", "Opvangtehuis")</li>
    <li>@Html.ActionLink("De menu", "WeekMenu", "Opvangtehuis")</li>
    <li>@Html.ActionLink("Sancties", "Sancties", "Gebruiker")</li>
</ul>

<h3>Opvoeders</h3>
<table class="table">
    <tr>
        <th>Naam</th>
        <th>Email adres</th>
        <th>Acties</th>
    </tr>

    @foreach (var o in Model.Opvoeders)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => o.Naam)</td>
            <td>@Html.DisplayFor(modelItem => o.Email)</td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = o.Id })
                @*<span> | </span>
                    @Html.ActionLink("Details", "Details", new { id = o.Id })*@
            </td>
        </tr>
    }
</table>


