@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.CreateOpvoederViewModel

@{
    ViewBag.Title = "View";
}

@using (Html.BeginForm("CreateOpvoeder", "Gebruiker", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>Maak een nieuwe opvoeder aan.</h2>
    <hr />
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
    <div class="form-group">
        @Html.LabelFor(m => m.Voornaam, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Voornaam, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Voornaam, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Naam, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Naam, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Naam, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GeboorteDatum, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GeboorteDatum, new { @class = "form-control datepicker", @readonly = true, @Value = Model.GeboorteDatum.ToString("dd/MM/yyyy") })
            @Html.ValidationMessageFor(m => m.GeboorteDatum, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Opvangtehuizen, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.GeselecteerdOpvangtehuisId, new SelectList(Model.Opvangtehuizen), new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.GeselecteerdOpvangtehuisId, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ImageUpload, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ImageUpload, new { type = "file" })
            @Html.ValidationMessageFor(m => m.ImageUpload, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.GebruikersNaam, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GebruikersNaam, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.GebruikersNaam, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Wachtwoord, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Wachtwoord, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Wachtwoord, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BevestigWachtwoord, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.BevestigWachtwoord, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.BevestigWachtwoord, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Voeg opvoeder toe" />
        </div>
    </div>
}
@Html.ActionLink("Terug naar index", "AdminIndex", "Gebruiker")


