@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.LeefgroepViewModel
@{
    ViewBag.Title = "CreateLeefgroep";
}

@using (Html.BeginForm("CreateLeefgroep", "Gebruiker", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>Maak een nieuwe leefgroep aan</h2>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Naam, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Naam, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Naam, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Straat, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Straat, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Straat, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StraatNummer, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.StraatNummer, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.StraatNummer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Gemeente, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Gemeente, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Gemeente, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Postcode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Postcode, "", new { @class = "text-danger" })
        </div>
    </div>

    <table class="buttontable">
        <tr>

            <td>
                <span class="terugButton">
                    <input type="submit" class="button" value="Voeg leefgroep toe" />
                </span>
            </td>

            <td>
                <span class="terugButton">
                    @Html.ActionLink("Terug", "AdminIndex", "Gebruiker")
                </span>
            </td>
        </tr>
    </table>
}



