@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.DetailViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div></div>
<table id="detailTable">
    <tr>
        <td rowspan="5"><img src="@Url.Content(Model.ImageUrl)" class="profileImage" alt="Profiel afbeelding"/></td>
        <th>Naam:</th>
        <td>@Html.DisplayFor(m => m.Voornaam) @Html.DisplayFor(m => m.Naam)</td>
    </tr>
    <tr>
        <th>Gebruikersnaam:</th>
        <td>@Html.DisplayFor(m => m.GebruikersNaam)</td>
    </tr>

    @if (Model.TypeGebruiker.Contains("Opvoeder") && Model.IsStagair)
    {
        <tr>
            <td>Stagair</td>
        </tr>
    }

    <tr>
        <th>Leefgroep:</th>
        <td>
            @Html.DisplayFor(m => m.LeefgroepNaam)<br />
            @Html.DisplayFor(m => m.LeefgroepAdres)<br />
            @Html.DisplayFor(m => m.LeefgroepGemeente)
        </td>
</table>

<div class="terugButton">
    @if (Model.TypeGebruiker.Contains("Opvoeder"))
    {
        @Html.ActionLink("Terug naar index", "OpvoederIndex", "Gebruiker")
    }
    else if (Model.TypeGebruiker.Contains("Admin"))
    {
        @Html.ActionLink("Terug naar index", "AdminIndex", "Gebruiker")
    }
    else
    {
        @Html.ActionLink("Terug naar index", "ClientIndex", "Gebruiker")
    }
</div>

@if (Model.Sancties.Count != 0)
{
    <table class="table">
        <tr>
            <th>Straf</th>
            <th>Rede</th>
            <th>Begindatum</th>
            <th>Einddatum</th>
        </tr>

        @foreach (var o in Model.Sancties)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => o.GeselecteerdeStraf)</td>
                <td>@Html.DisplayFor(modelItem => o.Rede)</td>
                <td>@Html.DisplayFor(modelItem => o.Date)</td>
                <td>@Html.DisplayFor(modelItem => o.EindDatum)</td>
            </tr>
        }
    </table>
}

@if (Model.TimeTrackerList.Count != 0)
{
    <table class="table">
        <tr>
            <th>Aangemeld op</th>
        </tr>
        @foreach (var t in Model.TimeTrackerList)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => t.TimeTrackTime)</td>
            </tr>
        }

    </table>
}

@if (Model.TypeGebruiker.Contains("Admin"))
{
    <table class="table">
        <tr>
            <th>Clienten waarover de opvoeder een overzicht van heeft</th>
        </tr>
        @foreach (var t in Model.Clients)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => t)</td>
            </tr>
        }

    </table>
}

