@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.DetailViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div><img src="@Url.Content(Model.ImageUrl)" class="profileImage"/></div>
<table id="detailTable">
    <tr>
        <th>@Html.LabelFor(m => m.Voornaam)</th>
        <td>@Html.DisplayFor(m => m.Voornaam)</td>
    </tr>

    <tr>
        <th>@Html.LabelFor(m => m.Naam)</th>
        <td>@Html.DisplayFor(m => m.Naam)</td>
    </tr>

    <tr>
        <th>@Html.LabelFor(m => m.GebruikersNaam)</th>
        <td>@Html.DisplayFor(m => m.GebruikersNaam)</td>
    </tr>

    @if (Model.TypeGebruiker.Contains("Opvoeder") && Model.IsStagair)
    {
        <tr>
            <th>Extra info</th>
            <td>Stagair</td>
        </tr>
    }

    <tr>
        <th>@Html.LabelFor(m => m.Opvangtehuis)</th>
        <td>@Html.DisplayFor(m => m.Opvangtehuis)</td>
    </tr>
</table>

<div class="terugButton">
    @if (Model.TypeGebruiker.Contains("Opvoeder"))
    {
        @Html.ActionLink("Terug naar index", "OpvoederIndex", "Gebruiker")
    }
    else if (Model.TypeGebruiker.Contains("Admin"))
    {
        @Html.ActionLink("Terug naar index", "AdminIndex", "Gebruiker")
    }
    else
    {
        @Html.ActionLink("Terug naar index", "ClientIndex", "Gebruiker")
    }
</div>

@if (Model.Sancties.Count != 0) {
    <table class="table">
        <tr>
            <th>Straf</th>
            <th>Rede</th>
            <th>Begindatum</th>
            <th>Einddatum</th>
        </tr>

        @foreach (var o in Model.Sancties)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => o.GeselecteerdeStraf)</td>
                <td>@Html.DisplayFor(modelItem => o.Rede)</td>
                <td>@Html.DisplayFor(modelItem => o.Date)</td>
                <td>@Html.DisplayFor(modelItem => o.EindDatum)</td>
            </tr>
        }
    </table>
}

@if (Model.TimeTrackerList.Count != 0)
{
    <table class="table">
        <tr>
            <th>Aangemeld op</th>
        </tr>
        @foreach (var t in Model.TimeTrackerList)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => t.TimeTrackTime)</td>
            </tr>
        }
       
    </table>
}

