@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.DetailViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table>
    <tr>
        <td>@Html.LabelFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Id)</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(m => m.Voornaam)</td>
        <td>@Html.DisplayFor(m => m.Voornaam)</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(m => m.Naam)</td>
        <td>@Html.DisplayFor(m => m.Naam)</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(m => m.GebruikersNaam)</td>
        <td>@Html.DisplayFor(m => m.GebruikersNaam)</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(m => m.Email)</td>
        <td>@Html.DisplayFor(m => m.Email)</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(m => m.GeboorteDatum)</td>
        <td>@Html.DisplayFor(m => m.GeboorteDatum)</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(m => m.Opvangtehuis)</td>
        <td>@Html.DisplayFor(m => m.Opvangtehuis)</td>
    </tr>
</table>

@if (Model.TypeGebruiker.Contains("Opvoeder"))
{
    @Html.ActionLink("Terug naar index", "OpvoederIndex", "Gebruiker")
}
else if (Model.TypeGebruiker.Contains("Admin"))
{
    @Html.ActionLink("Terug naar index", "AdminIndex", "Gebruiker")
}
else
{
    @Html.ActionLink("Terug naar index", "ClientIndex", "Gebruiker")
}

@if (Model.Sancties.Count != 0) {
    <table class="table">
        <tr>
            <th>Straf</th>
            <th>Rede</th>
            <th>Begindatum</th>
            <th>Einddatum</th>
        </tr>

        @foreach (var o in Model.Sancties)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => o.GeselecteerdeStraf)</td>
                <td>@Html.DisplayFor(modelItem => o.Rede)</td>
                <td>@Html.DisplayFor(modelItem => o.Date)</td>
                <td>@Html.DisplayFor(modelItem => o.EindDatum)</td>
            </tr>
        }
    </table>
}

