@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.EditViewModel

@{
    ViewBag.Title = "View";
}
<div class="form">
    @using (Html.BeginForm("Edit", "Gebruiker", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h2>Pas @Html.DisplayFor(m => m.Voornaam) @Html.DisplayFor(m => m.Naam) zijn gegevens aan</h2>
        <hr />
        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

        <table class="inputformtable">
            <tr>
                <td>
                    @Html.LabelFor(m => m.Voornaam)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Voornaam, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Voornaam, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.Naam)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Naam, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Naam, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.Opvangtehuizen)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.GeselecteerdOpvangtehuisId, new SelectList(Model.Opvangtehuizen), new {@class = "form-control"})
                </td>
            </tr>

            <tr>
                <td rowspan="2" colspan="2">
                    <img src="@Url.Content(Model.ImageUrl)" class="profileImage" /><br />
                    @Html.TextBoxFor(m => m.Image, new { type = "file" })
                    @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                </td>
            </tr>



        </table>

        <table class="buttontable">
            <tr>
                @if (Model.TypeGebruiker.Contains("Opvoeder"))
                {
                    <td>
                        <input type="image" src="@Url.Content("~/Content/Images/Aanduidingen/accept.png")" />
                    </td>
                    <td>
                        <span class="imagebutton">
                            <a href="@Url.Action("OpvoederIndex", "Gebruiker")">
                                <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug" />
                            </a>
                        </span>
                    </td>
                }
                @if (Model.TypeGebruiker.Contains("Admin"))
                {
                    <td>
                        <input type="submit" class="button" value="Aanpassen" />
                    </td>

                    <td>
                        <span class="terugButton">
                            @Html.ActionLink("Terug naar index", "AdminIndex", "Gebruiker")
                        </span>
                    </td>
                }

            </tr>
        </table>
    }
</div>