@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.SanctieListViewModel
@{
    ViewBag.Title = "GestrafteOverzicht";
}

<div style="float: right" class="imagebutton">
    <a href="@Url.Action("OpvoederIndex", "Gebruiker")">
        <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug" />
    </a>
</div>

<h2>Overzicht van beloonde/gestrafte cliënten</h2>
<table class="table">
    <tr>
        @*<th>Persoon</th>
            <th>Beloning/straf</th>
            <th>Reden</th>
            <th>Van</th>
            <th>Tot</th>*@

        <th>@Html.ActionLink("Persoon", "GestrafteOverzicht", new { SortingOrder = "Persoon" })</th>
        <th>@Html.ActionLink("Beloning/straf", "GestrafteOverzicht", new { SortingOrder = "Straf" })</th>
        <th>Reden</th>
        <th>@Html.ActionLink("Van", "GestrafteOverzicht", new { SortingOrder = "Van" })</th>
        <th>@Html.ActionLink("Tot", "GestrafteOverzicht", new { SortingOrder = "Tot" })</th>

    </tr>
    @foreach (var o in Model.SanctieList)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => o.Client)</td>
            <td>@Html.DisplayFor(modelItem => o.GeselecteerdeStraf)</td>
            <td>@Html.DisplayFor(modelItem => o.Rede)</td>
            <td>@Html.DisplayFor(modelItem => o.Date)</td>
            <td>@Html.DisplayFor(modelItem => o.EindDatum)</td>
        </tr>
    }
</table>


