@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.InstellingenViewModel
@{
    ViewBag.Title = "Customize";
}

@using (Html.BeginForm("Instellingen", "Gebruiker", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div id="instellingen">
        <div id="instellingenLeft">
            @Html.AntiForgeryToken()
            <h2>Stel je profiel afbeelding in.</h2>
            @if (Model.AvatarUrl != null)
            {
                <img src="@Url.Content(Model.AvatarUrl)" alt="Avatar" id="avatarImageShow" />
            }
            else
            {
                <img src="@Url.Content("~/Content/Images/Aanduidingen/vraagteken.png")" alt="Avatar" />
            }

            <br />
            <br />
            <div>
                @Html.TextBoxFor(m => m.AvatarUpload, new { type = "file", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AvatarUpload, "", new { @class = "text-danger" })
            </div>
            <br />
            <h2>Stel je achtergrond in.</h2>
            @if (Model.BackgroundUrl != null)
            {
                <img src="@Url.Content(Model.BackgroundUrl)" alt="Achtergrond" id="backgroundImageShow" />
            }
            else
            {
                <img src="@Url.Content("~/Content/Images/Aanduidingen/vraagteken.png")" alt="Achtergrond" />
            }
            <br />
            <br />
            <div>
                @Html.TextBoxFor(m => m.BackgroundUpload, new { type = "file", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.BackgroundUpload, "", new { @class = "text-danger" })
            </div>
            <br />
        </div>

        <div id="instellingenRight">
            <h2>Je wachtwoord veranderen</h2>
            <a href="@Url.Action("WachtwoordAanpassen", "Gebruiker")">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/password.png")" alt="Wachtwoord aanpassen" title="Wachtwoord aanpassen" />
            </a>
        </div>
    </div>

    <div id="buttonsInstellingen">
        <table class="buttontable">
            <tr>
                <td>
                    @if (Model.GebruikerType.Contains("Client"))
                    {
                        <input type="image" src="@Url.Content("~/Content/Images/Aanduidingen/opslaan.png")" alt="Oplsaan" title="Opslaan"/>
                    }
                    else if (Model.GebruikerType.Contains("Opvoeder"))
                    {
                        
                        <input type="submit" class="button" value="Opslaan" />
                    }
                </td>
                <td>
                    @if (Model.GebruikerType.Contains("Client"))
                    {
                        <span class="imagebutton">
                            <a href="@Url.Action("ClientIndex", "Gebruiker")">
                                <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug" />
                            </a>
                        </span>
                    }
                    else if (Model.GebruikerType.Contains("Opvoeder"))
                    {
                        <span class="terugButton">
                            @Html.ActionLink("Terug", "OpvoederIndex", "Gebruiker")
                        </span>
                    }

                </td>
            </tr>
        </table>
    </div>
}



