@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.InstellingenViewModel
@{
    ViewBag.Title = "Customize";
}

<h2>Instellingen</h2>
<hr/>

@using (Html.BeginForm("ProfielInstelling", "Gebruiker", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="instellingenblock">
        <input style="float: right" type="image" src="@Url.Content("~/Content/Images/Aanduidingen/opslaan.png")" alt="Oplsaan" title="Opslaan" />
        <h2>Stel je profiel afbeelding in.</h2>
        <hr />
        <table>
            <tr>
                <th style="vertical-align: top">
                    Je huidige profielfoto
                </th>
                <td>
                    @if (Model.ProfielAfbeeldingInstellenViewModel.ProfielAfbeeldingUrl != null)
                    {
                        <img src="@Url.Content(Model.ProfielAfbeeldingInstellenViewModel.ProfielAfbeeldingUrl)" alt="Avatar" id="avatarImageShow" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/vraagteken.png")" alt="Avatar" id="avatarImageShow" />
                    }
                </td>
            </tr>

            <tr>
                <th>
                    Kies een nieuwe profiel foto
                </th>
                <td>
                    @Html.TextBoxFor(m => m.ProfielAfbeeldingInstellenViewModel.ProfielAfbeeldingUpload, new { type = "file", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ProfielAfbeeldingInstellenViewModel.ProfielAfbeeldingUpload, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>

    </div>
}

@using (Html.BeginForm("AchtergrondInstelling", "Gebruiker", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="instellingenblock">
        <input style="float: right" type="image" src="@Url.Content("~/Content/Images/Aanduidingen/opslaan.png")" alt="Oplsaan" title="Opslaan" />
        <h2>Stel je achtergrond in.</h2>
        <hr />
        <table>
            <tr>
                <th style="vertical-align: top">
                    Je huidige achtergrond
                </th>
                <td>
                    @if (Model.AchtergrondAfbeeldingInstellenViewModel.BackgroundUrl != null)
                    {
                        <img src="@Url.Content(Model.AchtergrondAfbeeldingInstellenViewModel.BackgroundUrl)" alt="Avatar" id="avatarImageShow" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/vraagteken.png")" alt="Avatar" id="avatarImageShow" />
                    }
                </td>
            </tr>

            <tr>
                <th>
                    Kies een nieuwe achtergrond
                </th>
                <td>
                    @Html.TextBoxFor(m => m.AchtergrondAfbeeldingInstellenViewModel.BackgroundUpload, new { type = "file", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AchtergrondAfbeeldingInstellenViewModel.BackgroundUpload, "", new { @class = "text-danger" })
                </td>
            </tr>

        </table>


    </div>
}

@using (Html.BeginForm("Wachtwoord aanpassen", "Gebruiker", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="instellingenblock">
        <input style="float: right" type="image" src="@Url.Content("~/Content/Images/Aanduidingen/opslaan.png")" alt="Oplsaan" title="Opslaan" />
        <h2>Je wachtwoord aanpassen</h2>
        <hr />
        <table class="inputformtable" style="margin-bottom: 50px;">
            <tr>
                <th>
                    Huidig wachtwoord
                </th>
                <td>
                    @Html.PasswordFor(m => m.ChangeViewModel.Wachtwoord, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ChangeViewModel.Wachtwoord, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th>
                    Nieuw Wachtwoord
                </th>
                <td>
                    @Html.PasswordFor(m => m.ChangeViewModel.NieuwWachtwoord, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ChangeViewModel.NieuwWachtwoord, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th>
                    Bevestig Nieuwe Wachtwoord
                </th>
                <td>
                    @Html.PasswordFor(m => m.ChangeViewModel.BevestigNieuwWachtwoord, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ChangeViewModel.BevestigNieuwWachtwoord, "", new { @class = "text-danger" })
                </td>
            </tr>

        </table>
    </div>
}

<table class="buttontable">
    <tr>
        <td>
            @if (Model.GebruikerType.Contains("Client"))
            {
                <span class="imagebutton">
                    <a href="@Url.Action("ClientIndex", "Gebruiker")">
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug" />
                    </a>
                </span>
            }
            else if (Model.GebruikerType.Contains("Opvoeder"))
            {
                <span class="imagebutton">
                    <a href="@Url.Action("OpvoederIndex", "Gebruiker")">
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug" />
                    </a>
                </span>
            }
        </td>
    </tr>
</table>



@*<div class="ImageUploadBlock">
                    <h2>Stel je achtergrond in.</h2>
                    @if (Model.BackgroundUrl != null)
                    {
                        <img src="@Url.Content(Model.BackgroundUrl)" alt="Achtergrond" id="backgroundImageShow" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/vraagteken.png")" alt="Achtergrond" id="backgroundImageShow" />
                    }
                    <br />
                    <br />
                    <div>
                        @Html.TextBoxFor(m => m.BackgroundUpload, new { type = "file", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BackgroundUpload, "", new { @class = "text-danger" })
                    </div>
                    <br />
                </div>
            </div>

        @using (Html.BeginForm("ProfielInstelling", "Gebruiker", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div id="profileblock">
            <div id="uploadblocks">
                <div class="ImageUploadBlock">
                    <h2>Stel je profiel afbeelding in.</h2>
                    @if (Model.ProfielAfbeeldingInstellenViewModel.ProfielAfbeeldingUrl != null)
                    {
                        <img src="@Url.Content(Model.ProfielAfbeeldingInstellenViewModel.ProfielAfbeeldingUrl)" alt="Avatar" id="avatarImageShow" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/vraagteken.png")" alt="Avatar" id="avatarImageShow" />
                    }
                    <br />
                    <br />
                    <div>
                        @Html.TextBoxFor(m => m.ProfielAfbeeldingInstellenViewModel.ProfielAfbeeldingUpload, new { type = "file", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ProfielAfbeeldingInstellenViewModel.ProfielAfbeeldingUpload, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input type="image" src="@Url.Content("~/Content/Images/Aanduidingen/opslaan.png")" alt="Oplsaan" title="Opslaan" />
            </div>
        </div>
    }




            <table class="buttontable">
                <tr>
                    <td>
                        @if (Model.GebruikerType.Contains("Client"))
                        {
                            <input type="image" src="@Url.Content("~/Content/Images/Aanduidingen/opslaan.png")" alt="Oplsaan" title="Opslaan" />
                        }
                        else if (Model.GebruikerType.Contains("Opvoeder"))
                        {

                            <input type="submit" class="button" value="Opslaan" />
                        }
                    </td>
                    <td>
                        @if (Model.GebruikerType.Contains("Client"))
                        {
                            <span class="imagebutton">
                                <a href="@Url.Action("ClientIndex", "Gebruiker")">
                                    <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug" />
                                </a>
                            </span>
                        }
                        else if (Model.GebruikerType.Contains("Opvoeder"))
                        {
                            <span class="terugButton">
                                @Html.ActionLink("Terug", "OpvoederIndex", "Gebruiker")
                            </span>
                        }
                    </td>
                </tr>
            </table>


            <h2>Je wachtwoord veranderen</h2>
            <a href="@Url.Action("WachtwoordAanpassen", "Gebruiker")">
                <img src="@Url.Content("~/Content/Images/Aanduidingen/password.png")" alt="Wachtwoord aanpassen" title="Wachtwoord aanpassen" />
            </a>
        </div>*@






