@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.KamerControleListIndexViewModel
@{
    ViewBag.Title = "KamerControleIndex";
}

<h2>KamerControleIndex</h2>
@Html.ActionLink("Maak de dagelijkse kamercontrole aan, als er al reeds één is gemaakt zal deze naar de kamercontrole van vandaag verwijzen", "KamerControleOpvoeder", new { id = Model.ClientId })
<table class="table">
    <tr>
        <th>Datum</th>
        <th>Alles In orde</th>
        <th>Bekijken</th>
    </tr>

    @foreach (var o in Model.List)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => o.Datum)</td>          
            <td>
                @*@(o.InOrde ? Html.Label("Ja") : Html.Label("Nee"))*@
                @if (o.InOrde)
                {
                    <img src="@Url.Content("~/Content/Images/Aanduidingen/vinkje.png")" alt="Ja" class="aanduidingsImage" />
                }
                else
                {
                    <img src="@Url.Content("~/Content/Images/Aanduidingen/cross.png")" alt="Nee" class="aanduidingsImage" />
                }
            </td>
            <td>
                @Html.ActionLink("Bekijken", "KamerControleOpvoeder", new {id = o.Id})
            </td>
        </tr>
    }
</table>
