@using System.Web.UI.WebControls
@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.KamerControleClientViewModel
@{
    ViewBag.Title = "KamerControle";
}
<h2>Is je kamer in orde?</h2>
<hr/>
<div class="formPage">
    @if (Model.ListKamerControleItemsViewmodel.KamerControleItems.Count == 0)
    {
        <div class="nogNietAanwezig">
            @Html.Label("De opvoeder moet je kamer vandaag nog controleren")
        </div>
    }
    else
    {
        <div class="kamerControleCardSystem">
            @for (int i = 0; i < Model.ListKamerControleItemsViewmodel.KamerControleItems.Count(); i++)
            {
                <div class="kamerControleCard">
                    <div class="doneContainer">
                        @if (@Model.ListKamerControleItemsViewmodel.KamerControleItems[i].DoneOpvoeder)
                        {
                            <img src="@Url.Content("~/Content/Images/Aanduidingen/vinkje.png")" alt="Ja" class="aanduidingsImage" />
                        }
                        else
                        {
                            <img src="@Url.Content("~/Content/Images/Aanduidingen/cross.png")" alt="Nee" class="aanduidingsImage" />
                        }
                    </div>

                    <div class="kamercontroleTitel">@Html.DisplayFor(modelItem => Model.ListKamerControleItemsViewmodel.KamerControleItems[i].Titel)</div>

                    <div class="kamerControleCardImageBlock">
                        <img src="@Url.Content(@Model.ListKamerControleItemsViewmodel.KamerControleItems[i].ImageUrl)" alt="Image" class="kamerControleImage" />
                    </div>

                    <div class="kamerControleCardUitlegBlock">
                        @Html.DisplayFor(modelItem => Model.ListKamerControleItemsViewmodel.KamerControleItems[i].Uitleg)
                    </div>

                </div>
            }
        </div>
    }

    <div class="imagebutton">
        @*@Html.ActionLink("Terug naar index", "ClientIndex", "Gebruiker")*@
        <a href="@Url.Action("ClientIndex", "Gebruiker")">
            <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug" />
        </a>
    </div>


    <table class="table">
        <tr>
            <th>Datum</th>
            <th>Alles In orde</th>
        </tr>

        @foreach (var o in Model.KamerControleListIndexViewModel.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => o.DatumDay) -
                    @Html.DisplayFor(modelItem => o.Datum)
                </td>
                <td>
                    @*@(o.InOrde ? Html.Label("Ja") : Html.Label("Nee"))*@
                    @if (o.InOrde)
                    {
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/vinkje.png")" alt="Ja" class="aanduidingsImage" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/cross.png")" alt="Nee" class="aanduidingsImage" />
                    }
                </td>
            </tr>
        }
    </table>
</div>