@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.ListKamerControleItemsViewmodel
@{
    ViewBag.Title = "KamerControle";
}
@using (Html.BeginForm("KamerControleOpvoeder", "Gebruiker", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h2>KamerControle</h2>
    @Html.HiddenFor(model => model.KamerControleListIndexViewModel.ClientId)
    @*<table id="kamercontroleTableOpvoeder">
            <tr>
                <th>Taak</th>
                <th>Is dit werkelijk gebeurd</th>
                <td>Uitleg</td>
            </tr>


            @for (int i = 0; i < Model.KamerControleItems.Count(); i++)
            {
                <tr>
                    <td>
                        <div id="kamercontroleTitel">@Html.DisplayFor(modelItem => Model.KamerControleItems[i].Titel)</div>
                        @Html.HiddenFor(modelItem => Model.KamerControleItems[i].Titel)
                    </td>

                    <td>@Html.CheckBoxFor(modelItem => Model.KamerControleItems[i].DoneOpvoeder, new { @class = "bigcheckbox" })</td>

                    <td>
                        @Html.TextAreaFor(modelItem => Model.KamerControleItems[i].Uitleg)
                    </td>
                </tr>
            }
        </table>*@

    <div class="kamerControleCardSystem">
        @for (var i = 0; i < Model.KamerControleItems.Count(); i++)
        {
            <div class="kamerControleCard">
                <div class="kamercontroleTitel">
                    @Html.DisplayFor(modelItem => Model.KamerControleItems[i].Titel)
                    @Html.HiddenFor(modelItem => Model.KamerControleItems[i].Titel)
            </div>
            <div class="kamerControleCardCheckboxBlock">
                @Html.CheckBoxFor(modelItem => Model.KamerControleItems[i].DoneOpvoeder, new { @class = "bigcheckbox" })
            </div>
            <div class="kamerControleCardUitlegBlock">
                <div style="font-size: 14pt; text-align: center; font-weight: bold;">Feedback</div>
                @Html.TextAreaFor(modelItem => Model.KamerControleItems[i].Uitleg)
            </div>
        </div>
        }
    </div>

    @*<div class="kamerControleCardSystem">
            @foreach (var i in Model.KamerControleItems)
            {
                <div class="kamerControleCard">
                    <div class="kamercontroleTitel">@Html.DisplayFor(modelItem => i.Titel)</div>
                    <div class="kamerControleCardCheckboxBlock">
                        @Html.CheckBoxFor(modelItem => i.DoneOpvoeder, new { @class = "bigcheckbox" })

                    </div>
                    <div class="kamerControleCardUitlegBlock">
                        <div style="font-size: 14pt; text-align: center; font-weight: bold;">Feedback</div>
                        @Html.TextAreaFor(modelItem => i.Uitleg)
                    </div>
                </div>
            }
        </div>*@


    <br />
    <table class="buttontable">
        <tr>
            <td><input type="submit" class="button" value="Opslaan" /></td>
            <td>
                <span class="terugButton">
                    @Html.ActionLink("Terug naar index", "OpvoederIndex", "Gebruiker")
                </span>
            </td>
        </tr>
    </table>




    <table class="table">
        <tr>
            <th>Datum</th>
            <th>Alles In orde</th>
        </tr>

        @foreach (var o in Model.KamerControleListIndexViewModel.List)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => o.Datum)</td>
                <td>
                    @*@(o.InOrde ? Html.Label("Ja") : Html.Label("Nee"))*@
                    @if (o.InOrde)
                    {
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/vinkje.png")" alt="Ja" class="aanduidingsImage" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/cross.png")" alt="Nee" class="aanduidingsImage" />
                    }
                </td>
            </tr>
        }
    </table>
}

