@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.KamerControleOverviewViewModel
@{
    ViewBag.Title = "KamerControleOverview";
}
@using (Html.BeginForm("KamerControleOverview", "Gebruiker", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h2>KamerControleOverview</h2>

    <table id="kamercontroleTable">
        <tr>
            <th style="border: none; border-bottom: 1px solid; border-right: 1px solid"></th>
            @foreach (var t in Model.Titels)
            {
                <th style="border: none; border-bottom: 1px solid">@Html.Label(t)</th>

            }
        </tr>
        @for (var y = 0; y < Model.KamerControleViewModels.Count(); y++)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => Model.KamerControleViewModels[y].Client)
                    @Html.HiddenFor(modelItem => Model.KamerControleViewModels[y].ClientId)
                </th>
                @for (var i = 0; i < Model.KamerControleViewModels[y].ControleItemViewModels.Count(); i++)
                {
                    <td>
                        @Html.CheckBoxFor(modelItem => Model.KamerControleViewModels[y].ControleItemViewModels[i].DoneOpvoeder, new { @class = "mediumcheckbox" })
                        @Html.HiddenFor(modelItem => Model.KamerControleViewModels[y].ControleItemViewModels[i].Titel)
                    </td>
                }
            </tr>
        }
    </table>

    <table class="buttontable">
        <tr>
            <td>
                <input type="image" src="@Url.Content("~/Content/Images/Aanduidingen/accept.png")" />
            </td>
            <td>
                <span class="imagebutton">
                    <a href="@Url.Action("OpvoederIndex", "Gebruiker")">
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug" />
                    </a>
                </span>
            </td>
        </tr>
    </table>
}
