@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.ListKamerControleItemsViewmodel
@{
    ViewBag.Title = "KamerControle";
}


@if (Model.KamerControleItems.Count == 0)
{
    @Html.Label("De opvoeder moet de kamer nog controleren")
}
else
{
    <h2>KamerControle</h2>
    <table id="kamercontroleTable">
        <tr>
            <th>Taak</th>
            <th>Kleine beschrijving</th>
            <th>Is dit gebeurd</th>
            <th>Uitleg</th>
        </tr>

        @for (int i = 0; i < Model.KamerControleItems.Count(); i++)
        {
            <tr>
                <td>
                    <div id="kamercontroleTitel">@Html.DisplayFor(modelItem => Model.KamerControleItems[i].Titel)</div>
                    @Html.HiddenFor(modelItem => Model.KamerControleItems[i].Titel)
                    <img src="@Url.Content(@Model.KamerControleItems[i].ImageUrl)" class="kamerControleImage" />
                </td>
                <td>@Html.DisplayFor(modelItem => Model.KamerControleItems[i].Beschrijving)</td>
                <td>
                    @*@(o.InOrde ? Html.Label("Ja") : Html.Label("Nee"))*@
                    @if (@Model.KamerControleItems[i].DoneOpvoeder)
                    {
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/vinkje.png")" alt="Ja" class="aanduidingsImage" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/cross.png")" alt="Nee" class="aanduidingsImage" />
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => Model.KamerControleItems[i].Uitleg)</td>
            </tr>
        }
    </table>
}
