@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.ClientListViewModel

@{
    ViewBag.Title = "OpvoederIndex";
}

<div style="margin-top: 20px">
    <ul class="category-menu">
        <li>@Html.ActionLink("Overzicht van suggesties", "Suggesties", "Opvangtehuis")</li>
        <li>@Html.ActionLink("Menu's bekijken en aanpassen", "MenuIndex", "Opvangtehuis")</li>
        <li>@Html.ActionLink("Overzicht van klachten", "KlachtIndex", "Opvangtehuis")</li>
        <li>@Html.ActionLink("Beloningen/straffen bekijken en aanpassen", "Index", "Straf")</li>

    </ul>

    <ul class="category-menu">
        <li>@Html.ActionLink("Voeg cliënt toe", "CreateClient")</li>
        <li>@Html.ActionLink("Overzicht van beloonde/gestrafte cliënten", "GestrafteOverzicht", "Gebruiker")</li>
        <li>@Html.ActionLink("kamer controle opdrachten bekijken en aanpassen", "KamerOpdracht", "Opvangtehuis")</li>
        <li>@Html.ActionLink("Instellingen", "Instellingen", "Gebruiker")</li>
    </ul>
</div>

<h3 style="text-align: center">Overzicht van cliënten</h3>

@*<div class="terugButton">@Html.ActionLink("Voeg cliënt toe", "CreateClient")</div>*@

<div class="opvoederindexclients">
    @foreach (var o in Model.Clients)
    {
        <div class="opvoederindexclientscard">
            <div id="opvoederindexclientnaam">@Html.DisplayFor(modelItem => o.FullName)</div>
            <div class="opvoederindexclientaction">
                <div>@Html.ActionLink("Persoonlijke gegevens weergeven", "Details", new { id = o.Id })</div>
            </div>
            <div class="opvoederindexclientaction">
                <div>@Html.ActionLink("Persoonlijke gegeven aanpassen", "Edit", new { id = o.Id })</div>
            </div>
            <div class="opvoederindexclientaction">
                <div>@Html.ActionLink("Geef beloning/straf", "CreateSanctie", new { id = o.Id })</div>
            </div>
            <div class="opvoederindexclientaction">
                <div>@Html.ActionLink("Kamercontrole checklist", "KamerControleOpvoeder", new { id = o.Id })</div>
            </div>
            <div class="opvoederindexclientaction">
                <div>@Html.ActionLink("Zeg iets tegen " + o.Voornaam, "Forum", new { id = o.Id })</div>
            </div>
            <div class="opvoederindexclientaction">
                <div>@Html.ActionLink("Planning bekijken en aanpassen", "PlanningOverview", "Planning", new { id = o.Id }, null)</div>
            </div>
        </div>
    }
</div>




