@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.ClientListViewModel

@{
    ViewBag.Title = "OpvoederIndex";
}

<div style="margin-top: 20px">
    <ul class="category-menu">
        <li>@Html.ActionLink("Toon lijst van gegeven suggesties", "Suggesties", "Opvangtehuis")</li>
        <li>@Html.ActionLink("Toon lijst van menus", "MenuIndex", "Opvangtehuis")</li>
        <li>@Html.ActionLink("Toon de lijst van klachten", "KlachtIndex", "Opvangtehuis")</li>
        <li>@Html.ActionLink("Toon de lijst van straffen", "Index", "Straf")</li>
        <li>@Html.ActionLink("Geef overzicht van gestrafte cliënten", "GestrafteOverzicht", "Gebruiker")</li>
        <li>@Html.ActionLink("kamer controle opdrachten overzicht", "KamerOpdracht", "Opvangtehuis")</li>
        <li>@Html.ActionLink("Instellingen", "Instellingen", "Gebruiker")</li>
    </ul>
</div>

<h3 style="text-align: center">Cliënten</h3>

<div class="terugButton">@Html.ActionLink("Voeg cliënt toe", "CreateClient")</div>

<div class="opvoederindexclients">
    @foreach (var o in Model.Clients)
    {
        <div class="opvoederindexclientscard">
            <div id="opvoederindexclientnaam">@Html.DisplayFor(modelItem => o.FullName)</div>
            <div class="opvoederindexclientaction">
                <div>@Html.ActionLink("Persoonlijke gegevens weergeven", "Details", new { id = o.Id })</div>
            </div>
            <div class="opvoederindexclientaction">
                <div>@Html.ActionLink("Persoonlijke gegeven aanpassen", "Edit", new { id = o.Id })</div>
            </div>
            <div class="opvoederindexclientaction">
                <div>@Html.ActionLink("Straffen", "CreateSanctie", new { id = o.Id })</div>
            </div>
            <div class="opvoederindexclientaction">
                <div>@Html.ActionLink("Kamercontrole", "KamerControleOpvoeder", new { id = o.Id })</div>
            </div>
            <div class="opvoederindexclientaction">
                <div>@Html.ActionLink("Zeg iets tegen " + o.Voornaam, "Forum", new {id = o.Id})</div>
            </div>
            <div class="opvoederindexclientaction">
                <div>@Html.ActionLink("Bekijk planning", "PlanningOverview", "Planning" , new { id = o.Id }, null)</div>
            </div>
        </div>
    }
</div>




