@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.ClientListViewModel

@{
    ViewBag.Title = "OpvoederIndex";
}

<h2>OpvoederIndex</h2>
<div>
    <ul class="category-menu">
        <li>@Html.ActionLink("Toon lijst van gegeven suggesties", "Suggesties", "Opvangtehuis")</li>
        <li>@Html.ActionLink("Toon lijst van menus", "MenuIndex", "Opvangtehuis")</li>
        <li>@Html.ActionLink("Toon de lijst van klachten", "KlachtIndex", "Opvangtehuis")</li>
        <li>@Html.ActionLink("Toon de lijst van straffen", "Index", "Straf")</li>
        <li>@Html.ActionLink("Geef overzicht van gestrafte cliënten", "GestrafteOverzicht", "Gebruiker")</li>
    </ul>
</div>

<h3>Cliënten</h3>
@Html.ActionLink("Voeg cliënt toe", "CreateClient")
<table class="table">
    <tr>
        <th>Naam</th>
        <th>Acties</th>
    </tr>
    
    @foreach (var o in Model.Clients)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => o.FullName)</td>

            <td>
                @Html.ActionLink("Details", "Details", new {id = o.Id})
                <span> | </span>
                @Html.ActionLink("Aanpassen", "Edit", new {id = o.Id})
                <span> | </span>
                @Html.ActionLink("Straffen", "CreateSanctie", new {id = o.Id})
                <span> | </span>
                @Html.ActionLink("Kamercontrole", "KamerControleIndex", new { id = o.Id })
                <span> | </span>
                @Html.ActionLink("Zeg iets tegen " + o.Voornaam, "Forum", new { id = o.Id })
            </td>
     
        </tr>
    }
</table>




