@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.OpvoederListViewModel
@{
    ViewBag.Title = "OpvoederOverzicht";
}

<div class="imagebutton">
    <a href="@Url.Action("ClientIndex", "Gebruiker")">
        <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug"/>
    </a>
</div>

<div class="opvoederoverviewtable">
    @foreach (var o in Model.Opvoeders)
    {
        <div class="opvoederOverview">
            <div>@Html.Label(o.FullName)</div>  
            <a href="@Url.Action("Forum", new {id = o.Id})">
                <img src="@Url.Content(o.ImageUrl)"/>
            </a>

        </div>
    }

</div>
