@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.SanctieListViewModel
@{
    ViewBag.Title = "Sancties";
}

<h2>Sancties</h2>

<table id="sactieTable">
    <tr>
        <th class="firstColumn">
            <img src="@Url.Content("~/Content/Images/StrafImages/cross.png")" class="sanctieImage" />
            Straf
        </th>
        <th class="secondColumn">Rede</th>
        <th>Van</th>
        <th>Tot</th>
    </tr>

    @foreach (var o in Model.SanctieList)
    {
        <tr>
            <td class="firstColumn">
                <div><img src="@Url.Content(o.ImageUrl)" class="sanctieImage" /></div>
                <div id="strafText">@Html.DisplayFor(modelItem => o.GeselecteerdeStraf)</div>
            </td>
            <td class="secondColumn">@Html.DisplayFor(modelItem => o.Rede)</td>
            <td>@Html.DisplayFor(modelItem => o.Date)</td>
            <td>@Html.DisplayFor(modelItem => o.EindDatum)</td>
        </tr>
    }
</table>

