@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.SanctieListViewModel
@{
    ViewBag.Title = "Sancties";
}

<h2>Heb jij beloningen of sancties?</h2>
<hr/>

<div class="formPage">
    @if (Model.SanctieList.Count > 0)
    {
        <div class="SanctieCardSystem">
            @foreach (var o in Model.SanctieList)
            {

                <div class="SanctieCard">
                    <div class="SanctieTitleBlock">
                        @if (o.StrafOfBeloning)
                        {
                            <div id="strafText">@Html.DisplayFor(modelItem => o.GeselecteerdeStraf)</div>
                        }
                        else
                        {
                            <div id="beloningText">@Html.DisplayFor(modelItem => o.GeselecteerdeStraf)</div>
                        }

                    </div>

                    <div class="SanctieHeaderBlock">
                        <img src="@Url.Content(o.ImageUrl)" class="sanctieImage"/>
                    </div>

                    <div class="SanctieTimeBlock">
                        <table>
                            <tr>
                                <td>@Html.DisplayFor(modelItem => o.Date)</td>
                                <td>@Html.DisplayFor(modelItem => o.EindDatum)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(modelItem => o.BeginDateDay)</td>
                                <td>@Html.DisplayFor(modelItem => o.EndDateDay)</td>
                            </tr>
                        </table>
                    </div>

                    <div class="SanctieUitlegBlock">
                        @Html.DisplayFor(modelItem => o.Rede)
                    </div>

                </div>

            }
        </div>
    }
    else
    {
        <div id="geenStraffen">
            <div><img src="@Url.Content("~/Content/Images/StrafImages/pacmansanctie.png")"/>
            </div>
            <div>Geen sancties, goed zo!!!</div>
        </div>
    }

    <div class="imagebutton">
        <a href="@Url.Action("ClientIndex", "Gebruiker")">
            <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug"/>
        </a>
    </div>
</div>
