<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/Content/themes/base/css", "~/Content/css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Kinderhuis", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                @Html.Label("Kinderhuis", new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_Notifications")
        @RenderBody()
        
        <footer>
            <p>&copy; @DateTime.Now.Year - Bram Baert</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @*<script>
            $(function () {
                $(".jqueryui-marker-datepicker").datepicker({
                    dateFormat: "dd/mm/yyyy",
                    changeYear: true,
                    showOn: "button"
                }).css("display", "inline-block").next("button").button({
                    icons: { primary: "ui-icon-calander" },
                    label: "Selecteer een datum",
                    text: false
                });
            });
        </script>*@
    @*<script>
            $(function() {
                $(".datepicker").datepicker({
                    dateFormat: "dd/mm/yyyy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '-100:+0'
                });
            });
        </script>*@


    <link href="~/Content/themes/base/core.css" rel="stylesheet" />
    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
    <link href="~/Content/themes/base/theme.css" rel="stylesheet">
    <link href="~/Content/Styles.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker({
                dayNames: ["Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag", "Zondag"],
                dayNamesMin: ["Ma", "Di", "Wo", "Do", "Vr", "Za", "Zo"],
                monthNamesShort: ["Jan", "Feb", "Maa", "Apr", "Mei", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"],
                changeMonth: true,
                changeYear: true,
                showButtonPanel: false,
                dateFormat: "dd/mm/yy",
                shortYearCutoff: 50,
                yearRange: "c-100:c+nn"
            }).datepicker("setDate", "01/01/2000");
        });

        $(function () {
            $(".datepickeredit").datepicker({
                dayNames: ["Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag", "Zondag"],
                dayNamesMin: ["Ma", "Di", "Wo", "Do", "Vr", "Za", "Zo"],
                monthNamesShort: ["Jan", "Feb", "Maa", "Apr", "Mei", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"],
                changeMonth: true,
                changeYear: true,
                showButtonPanel: false,
                dateFormat: "dd/mm/yy",
                shortYearCutoff: 50,
                yearRange: "c-100:c+nn"
            });
        });

        $(function () {
            $(".datepickersanctie").datepicker({
                dayNames: ["Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag", "Zondag"],
                dayNamesMin: ["Ma", "Di", "Wo", "Do", "Vr", "Za", "Zo"],
                monthNamesShort: ["Jan", "Feb", "Maa", "Apr", "Mei", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"],
                changeMonth: true,
                changeYear: true,
                showButtonPanel: false,
                dateFormat: "dd/mm/yy",
                shortYearCutoff: 50,
                yearRange: "c-100:c+nn"
            }).datepicker("setDate", new Date());
        });

        var d = new Date();
        var year = d.getFullYear() - 18;

        $(".datepickermonday").datepicker({
            dayNames: ["Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag", "Zondag"],
            dayNamesMin: ["Ma", "Di", "Wo", "Do", "Vr", "Za", "Zo"],
            monthNamesShort: ["Jan", "Feb", "Maa", "Apr", "Mei", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"],
            showButtonPanel: false,
            dateFormat: "dd/mm/yy",
            yearRange: "-nn:+nn",
            beforeShowDay: function (date) {
                var day = date.getDay();
                return [(day === 1)];
            }

        }).datepicker("setDate", new Date());

        $(".datepickermondayedit").datepicker({
            dayNames: ["Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag", "Zondag"],
            dayNamesMin: ["Ma", "Di", "Wo", "Do", "Vr", "Za", "Zo"],
            monthNamesShort: ["Jan", "Feb", "Maa", "Apr", "Mei", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"],
            showButtonPanel: false,
            dateFormat: "dd/mm/yy",
            yearRange: "-nn:+nn",
            beforeShowDay: function(date) {
                var day = date.getDay();
                return [(day === 1)];
            }
        });


        $(function () {
            $(".spinner").spinner({
                min: 1,
                step: 1
            });
        });
    </script>

    @RenderSection("scripts", required: false)


</body>
</html>
