@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.CreateMenuItemViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Voorgerecht, new {@class = "col-md-2 control-label"})
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Voorgerecht, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Voorgerecht, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Hoofdgerecht, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Hoofdgerecht, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Hoofdgerecht, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(m => m.Dessert, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Dessert, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Dessert, "", new { @class = "text-danger" })
    </div>
</div>

