@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.MenuViewModel

@{
    ViewBag.Title = "CreateMenu";
}

@using (Html.BeginForm("CreateMenu", "Opvangtehuis", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div id="menuDate">
        @Html.LabelFor(m => m.BeginWeek, new { @class = "control-label" })
        <div>
            @if (Model.Id <= 0)
            {
                @Html.TextBoxFor(m => m.BeginWeek, new { @class = "datepickermonday", @readonly = true, @Value = Model.BeginWeek.ToString("dd/MM/yyyy") })
                @Html.ValidationMessageFor(m => m.BeginWeek, "", new { @class = "text-danger" })
            }
            else
            {
                @Html.TextBoxFor(m => m.BeginWeek, new { @class = "datepickermondayedit", @readonly = true, @Value = Model.BeginWeek.ToString("dd/MM/yyyy") })
                @Html.ValidationMessageFor(m => m.BeginWeek, "", new { @class = "text-danger" })
            }

        </div>
    </div>

    <table class="formPage form menutable">
        <tr>
            <th></th>
            <th>Voorgerecht</th>
            <th>Hoofdgerecht</th>
            <th>Dessert</th>
        </tr>

        <tr>
            <th>Maandag</th>
            <td>
                @Html.TextBoxFor(m => m.MaandagViewModel.Voorgerecht, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MaandagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.MaandagViewModel.Hoofdgerecht, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MaandagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.MaandagViewModel.Dessert, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MaandagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>Dinsdag</th>
            <td>
                @Html.TextBoxFor(m => m.DinsdagViewModel.Voorgerecht, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DinsdagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.DinsdagViewModel.Hoofdgerecht, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DinsdagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.DinsdagViewModel.Dessert, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DinsdagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>Woensdag</th>
            <td>
                @Html.TextBoxFor(m => m.WoensdagViewModel.Voorgerecht, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.WoensdagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.WoensdagViewModel.Hoofdgerecht, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.WoensdagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.WoensdagViewModel.Dessert, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.WoensdagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>Donderdag</th>
            <td>
                @Html.TextBoxFor(m => m.DonderdagViewModel.Voorgerecht, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DonderdagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.DonderdagViewModel.Hoofdgerecht, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DonderdagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.DonderdagViewModel.Dessert, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DonderdagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>Vrijdag</th>
            <td>
                @Html.TextBoxFor(m => m.VrijdagViewModel.Voorgerecht, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.VrijdagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.VrijdagViewModel.Hoofdgerecht, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.VrijdagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.VrijdagViewModel.Dessert, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.VrijdagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>Zaterdag</th>
            <td>
                @Html.TextBoxFor(m => m.ZaterdagViewModel.Voorgerecht, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ZaterdagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.ZaterdagViewModel.Hoofdgerecht, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ZaterdagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.ZaterdagViewModel.Dessert, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ZaterdagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>Zondag</th>
            <td>
                @Html.TextBoxFor(m => m.ZondagViewModel.Voorgerecht, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ZondagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.ZondagViewModel.Hoofdgerecht, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ZondagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.ZondagViewModel.Dessert, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ZondagViewModel.Dessert, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>



    <table class="buttontable">
        <tr>
            <td>
                <input type="image" src="@Url.Content("~/Content/Images/Aanduidingen/accept.png")" />
            </td>
            <td>
                <span class="imagebutton">
                    <a href="@Url.Action("MenuIndex")">
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug" />
                    </a>
                </span>
            </td>
        </tr>
    </table>
}

