@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.CreateSuggestieViewModel
@{
    ViewBag.Title = "Geef ons een suggestie";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("CreateSuggestie", "Opvangtehuis", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Beschrijving, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Beschrijving, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Beschrijving, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Genres, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.GeselecteerdGenre, Model.Genres, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Doe de suggestie" />
        </div>
    </div>
}

@Html.ActionLink("Terug naar index", "ClientIndex", "Gebruiker")


