@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.CreateSuggestieViewModel
@{
    ViewBag.Title = "Geef ons een suggestie";
}


@using (Html.BeginForm("CreateSuggestie", "Opvangtehuis", FormMethod.Post, new { @class = "", role = "form" }))
{
    <h2 class="form">@ViewBag.Title</h2>
    @Html.AntiForgeryToken()
    <table class="form">
        <tr>
            <th>
                @Html.LabelFor(m => m.Beschrijving, new { @class = "control-label" })
            </th>
            <td>
                @Html.TextAreaFor(m => m.Beschrijving, new { @class = "form-control", @cols = 40, @rows = 5 })
                @Html.ValidationMessageFor(m => m.Beschrijving, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>
                @Html.LabelFor(m => m.Genres, new { @class = "control-label" })
            </th>
            <td>
                @Html.DropDownListFor(m => m.GeselecteerdGenre, Model.Genres, new { @class = "form-control" })
            </td>
        </tr>
    </table>
    <br/>
    <table class="buttontable">
        <tr>
            <td>
                <input type="submit" class="button" value="Doe de suggestie" />
            </td>
            <td>
                <span class="terugButton">
                    @Html.ActionLink("Terug naar index", "ClientIndex", "Gebruiker")
                </span>
            </td>
        </tr>
    </table>
}
