@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.CreateSuggestieViewModel
@{
    ViewBag.Title = "Geef ons een suggestie";
}


@using (Html.BeginForm("CreateSuggestie", "Opvangtehuis", FormMethod.Post, new { @class = "", role = "form" }))
{
    <h2 class="form">@ViewBag.Title</h2>
    @Html.AntiForgeryToken()
    <table class="suggestieform">
        <tr>
            <td colspan="3">    
                @Html.LabelFor(m => m.Beschrijving, new { @class = "control-label" })<br/>
                @Html.TextAreaFor(m => m.Beschrijving, new {@class = "form-control", @cols = 40, @rows = 5})
                @Html.ValidationMessageFor(m => m.Beschrijving, "", new {@class = "text-danger"})
            </td>
        </tr>

        <tr>
            <td>
                @*@Html.DropDownListFor(m => m.GeselecteerdGenre, Model.Genres, new { @class = "form-control" })*@

                <label>
                    @Html.RadioButtonFor(m => m.GeselecteerdGenre, "Eten", new { @checked = true })
                    <img src="@Url.Content("~/Content/Images/Aanduidingen/eten.png")" class="suggestionImage" />
                </label>
            </td>
            <td>
                <label>
                    @Html.RadioButtonFor(m => m.GeselecteerdGenre, "Activitiet")
                    <img src="@Url.Content("~/Content/Images/Aanduidingen/activiteit.png")" class="suggestionImage" />
                </label>
            </td>
            <td>
                <label>
                    @Html.RadioButtonFor(m => m.GeselecteerdGenre, "Film")
                    <img src="@Url.Content("~/Content/Images/Aanduidingen/film.png")" class="suggestionImage" />
                </label>
            </td>


        </tr>
    </table>
    <br />
    <table class="buttontable">
        <tr>
            <td>
                <input type="submit" class="button" value="Doe de suggestie" />
            </td>
            <td>
                <span class="terugButton">
                    @Html.ActionLink("Terug naar index", "ClientIndex", "Gebruiker")
                </span>
            </td>
        </tr>
    </table>
}
