@using KinderhuisStageOpdracht.Models.Viewmodels
@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.KamerOpdrachtListViewModel
@{
    ViewBag.Title = "KamerOpdracht";
}

@using (Html.BeginForm("KamerOpdracht", "Opvangtehuis", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div id="strafToevoegen">
        @Html.AntiForgeryToken()
        <h2>kamer controle opdrachten bekijken en aanpassen</h2>
        <hr/>
        <table class="form">
            <tr>
                <th>
                    @Html.LabelFor(m => m.KamerOpracht.Titel, new { @class = "control-label" })
                </th>
                <td>
                    @Html.TextBoxFor(m => m.KamerOpracht.Titel, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.KamerOpracht.Titel, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(m => m.KamerOpracht.ImageUpload, new { @class = "control-label" })
                </th>
                <td>
                    @Html.TextBoxFor(m => m.KamerOpracht.ImageUpload, new { type = "file", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.KamerOpracht.ImageUpload, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
    </div>

    <table class="buttontable">
        <tr>
            <td>
                <input type="image" src="@Url.Content("~/Content/Images/Aanduidingen/accept.png")" />
            </td>
            <td>
                <span class="imagebutton">
                    <a href="@Url.Action("OpvoederIndex", "Gebruiker")">
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug" />
                    </a>
                </span>
            </td>
        </tr>
    </table>

}

<div class="KamerOpdrachtCardSystem">
    @foreach (var o in Model.KamerOprachten)
    {
        <div class="KamerOpdrachtCard">
            <div class="KamerOpdrachtCardTitelBlok">
                @Html.DisplayFor(modelItem => o.Titel)
            </div>
            <div class="KamerOpdrachtCardImageBlok">
                <img src="@Url.Content(o.ImageUrl)" />
            </div>
            <div class="KamerOpdrachtCardActionBlok">
                @Ajax.ActionLink("Verwijderen", "DeleteKamerOpdracht", "Opvangtehuis", new { id = o.Id }, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    OnComplete = "window.location.reload()"
                })
            </div>

        </div>

    }
</div>


