@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.KlachtViewModel
@{
    ViewBag.Title = "Klacht";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Klacht", "Opvangtehuis", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <table class="form">
        <tr>
            <th>
                @Html.LabelFor(m => m.Omschrijving, new { @class = "control-label" })
            </th>
        </tr>
        <tr>
            <td>
                @Html.TextAreaFor(m => m.Omschrijving, new { @class = "form-control", @cols = 30, @rows = 5 })
                @Html.ValidationMessageFor(m => m.Omschrijving, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>

    <table class="buttontable">
        <tr>
            <td>
                @*<input type="submit" class="button" value="Geef een klacht"/>*@
                <input type="image" src="@Url.Content("~/Content/Images/Aanduidingen/accept.png")" />
            </td>
            <td>
                <span class="imagebutton">
                    <a href="@Url.Action("ClientIndex", "Gebruiker")">
                        <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug" />
                    </a>
                    @*@Html.ActionLink("Terug naar index", "ClientIndex", "Gebruiker")*@
                </span>
            </td>
        </tr>
    </table>
}



