@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.ListKlachtViewModel
@{
    ViewBag.Title = "KlachtIndex";
}

<div style="float: right" class="imagebutton">
    <a href="@Url.Action("OpvoederIndex", "Gebruiker")">
        <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug" />
    </a>
</div>

<h2>Overzicht van de klachten</h2>

<table class="table">
    <tr>
        <th>Doorgestuurd door</th>
        <th>Doorgestuurd op</th>
        <th class="omschrijvingColumn">Omschrijving</th>
        <th>Actie</th>
    </tr>

    @foreach (var m in Model.List)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => m.Client)</td>
            <td>@Html.DisplayFor(modelItem => m.TimeStamp)</td>
            <td class="omschrijvingColumn">@Html.DisplayFor(modelItem => m.Omschrijving)</td>
            <td class="suggestieColumns">
                @Ajax.ActionLink("Verwijderen", "DeleteKlacht", "Opvangtehuis", new { id = m.Id }, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    OnComplete = "window.location.reload()"
                })
            </td>
        </tr>
    }
</table>
