@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.ListKlachtViewModel
@{
    ViewBag.Title = "KlachtIndex";
}

<h2>KlachtIndex</h2>

<table class="table">
    <tr>
        <th>Doorgestuurd door</th>
        <th>Doorgestuurd op</th>
        <th class="omschrijvingColumn">Omschrijving</th>
        <th>Actie</th>
    </tr>

    @foreach (var m in Model.List)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => m.Client)</td>
            <td>@Html.DisplayFor(modelItem => m.TimeStamp)</td>
            <td class="omschrijvingColumn">@Html.DisplayFor(modelItem => m.Omschrijving)</td>
            <td class="suggestieColumns">
                @Ajax.ActionLink("Verwijderen", "DeleteKlacht", "Opvangtehuis", new { id = m.Id }, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    OnComplete = "function() { $(this).parent().parent().remove() }"
                })
            </td>
        </tr>
    }
</table>

<div class="terugButton">
    @Html.ActionLink("Terug naar index", "OpvoederIndex", "Gebruiker")
</div>
