@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.KlachtViewModel
@{
    ViewBag.Title = "Klacht";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Klacht", "Opvangtehuis", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Omschrijving, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Omschrijving, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Omschrijving, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Geef een klacht" />
        </div>
    </div>
}

<div class="terugButton">
    @Html.ActionLink("Terug naar index", "ClientIndex", "Gebruiker")
</div>

