@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.MenuListViewModel
@{
    ViewBag.Title = "MenuIndex";
}

<div style="float: right" class="imagebutton">
    <a href="@Url.Action("OpvoederIndex", "Gebruiker")">
        <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug" />
    </a>
</div>

<h2>Overzicht van menu's</h2>
<div class="terugButton">
    @Html.ActionLink("Maak de menu aan", "CreateMenu")
</div>
<table class="table">
    <tr>
        <th>Week</th>
        <th>Begin van de week</th>
        <th>Einde van de week</th>
        <th>Acties</th>
    </tr>

    @foreach (var m in Model.Menus)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => m.Week)</td>
            <td>@Html.DisplayFor(modelItem => m.BeginWeek)</td>
            <td>@Html.DisplayFor(modelItem => m.EindeWeek)</td>
            <td>
                @Html.ActionLink("Aanpassen/Bekijken", "EditMenu", new { id = m.Id }) |
                @Ajax.ActionLink("Verwijderen", "DeleteMenu", "Opvangtehuis", new { id = m.Id }, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    OnComplete = "window.location.reload()"
                })
            </td>
        </tr>
    }
</table>

