@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.SuggestieListViewModel
@{
    ViewBag.Title = "Index";
}

<div style="float: right" class="imagebutton">
    <a href="@Url.Action("OpvoederIndex", "Gebruiker")">
        <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug" />
    </a>
</div>

<h2>Overzicht van suggesties</h2>
<table class="table">
    <tr>
        <th class="suggestieColumns">Genre</th>
        <th class="suggestieColumns">Cliënt</th>
        <th class="suggestieColumns">Wanneer</th>
        <th>Suggestie</th>
        <th class="suggestieColumns">Actie</th>

    </tr>
    @foreach (var o in Model.Suggesties)
    {
        <tr>
            <td class="suggestieColumns">@Html.DisplayFor(modelItem => o.Genre)</td>
            <td class="suggestieColumns">@Html.DisplayFor(modelItem => o.Client)</td>
            <td class="suggestieColumns">@Html.DisplayFor(modelItem => o.TimeStamp)</td>
            <td class="omschrijvingColumn">@Html.DisplayFor(modelItem => o.Beschrijving)</td>
            <td class="suggestieColumns">
                @Ajax.ActionLink("Verwijderen", "DeleteSuggestion", "Opvangtehuis", new { id = o.Id }, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    OnComplete = "window.location.reload()"
                })
            </td>
        </tr>
    }
</table>

