@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.MenuViewModel
@{
    ViewBag.Title = "WeekMenu";
}

<div class="formPage">
    @if (Model.Boodschap == null)
    {
        if (Model.MenuImageUrl == null)
        {
            <table id="weekMenu" border="1">
                <tr>
                    <th>Maandag</th>
                    <th>Dinsdag</th>
                    <th>Woensdag</th>
                    <th>Donderdag</th>
                    <th>Vrijdag</th>
                    <th>Zaterdag</th>
                    <th>Zondag</th>
                </tr>

                <tr>
                    <td>@Html.DisplayFor(m => m.MaandagViewModel.Voorgerecht)</td>
                    <td>@Html.DisplayFor(m => m.DinsdagViewModel.Voorgerecht)</td>
                    <td>@Html.DisplayFor(m => m.WoensdagViewModel.Voorgerecht)</td>
                    <td>@Html.DisplayFor(m => m.DonderdagViewModel.Voorgerecht)</td>
                    <td>@Html.DisplayFor(m => m.VrijdagViewModel.Voorgerecht)</td>
                    <td>@Html.DisplayFor(m => m.ZaterdagViewModel.Voorgerecht)</td>
                    <td>@Html.DisplayFor(m => m.ZondagViewModel.Voorgerecht)</td>
                </tr>

                <tr>
                    <td>@Html.DisplayFor(m => m.MaandagViewModel.Hoofdgerecht)</td>
                    <td>@Html.DisplayFor(m => m.DinsdagViewModel.Hoofdgerecht)</td>
                    <td>@Html.DisplayFor(m => m.WoensdagViewModel.Hoofdgerecht)</td>
                    <td>@Html.DisplayFor(m => m.DonderdagViewModel.Hoofdgerecht)</td>
                    <td>@Html.DisplayFor(m => m.VrijdagViewModel.Hoofdgerecht)</td>
                    <td>@Html.DisplayFor(m => m.ZaterdagViewModel.Hoofdgerecht)</td>
                    <td>@Html.DisplayFor(m => m.ZondagViewModel.Hoofdgerecht)</td>
                </tr>

                <tr>
                    <td>@Html.DisplayFor(m => m.MaandagViewModel.Dessert)</td>
                    <td>@Html.DisplayFor(m => m.DinsdagViewModel.Dessert)</td>
                    <td>@Html.DisplayFor(m => m.WoensdagViewModel.Dessert)</td>
                    <td>@Html.DisplayFor(m => m.DonderdagViewModel.Dessert)</td>
                    <td>@Html.DisplayFor(m => m.VrijdagViewModel.Dessert)</td>
                    <td>@Html.DisplayFor(m => m.ZaterdagViewModel.Dessert)</td>
                    <td>@Html.DisplayFor(m => m.ZondagViewModel.Dessert)</td>
                </tr>
            </table>
        }
        else
        {
            <img src="@Url.Content(Model.MenuImageUrl)" alt="Weekmenu" id="weekMenuImage" />
        }

    }
    else
    {
        <div class="nogNietAanwezig">
            @Html.Label(Model.Boodschap)
        </div>
    }

    <div class="imagebutton">
        <a href="@Url.Action("ClientIndex", "Gebruiker")">
            <img src="@Url.Content("~/Content/Images/Aanduidingen/terug.png")" alt="Terug" title="Terug" />
        </a>
    </div>
</div>