@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.MenuViewModel
@{
    ViewBag.Title = "WeekMenu";
}

<h2>WeekMenu</h2>

<table id="weekMenu" border="1">
    <tr>
        <th>Maandag</th>
        <th>Dinsdag</th>
        <th>Woensdag</th>
        <th>Donderdag</th>
        <th>Vrijdag</th>
    </tr>

    <tr>
        <td>@Html.DisplayFor(m => m.MaandagViewModel.Voorgerecht)</td>
        <td>@Html.DisplayFor(m => m.DinsdagViewModel.Voorgerecht)</td>
        <td>@Html.DisplayFor(m => m.WoensdagViewModel.Voorgerecht)</td>
        <td>@Html.DisplayFor(m => m.DonderdagViewModel.Voorgerecht)</td>
        <td>@Html.DisplayFor(m => m.VrijdagViewModel.Voorgerecht)</td>
    </tr>

    <tr>
        <td>@Html.DisplayFor(m => m.MaandagViewModel.Hoofdgerecht)</td>
        <td>@Html.DisplayFor(m => m.DinsdagViewModel.Hoofdgerecht)</td>
        <td>@Html.DisplayFor(m => m.WoensdagViewModel.Hoofdgerecht)</td>
        <td>@Html.DisplayFor(m => m.DonderdagViewModel.Hoofdgerecht)</td>
        <td>@Html.DisplayFor(m => m.VrijdagViewModel.Hoofdgerecht)</td>
    </tr>

    <tr>
        <td>@Html.DisplayFor(m => m.MaandagViewModel.Dessert)</td>
        <td>@Html.DisplayFor(m => m.DinsdagViewModel.Dessert)</td>
        <td>@Html.DisplayFor(m => m.WoensdagViewModel.Dessert)</td>
        <td>@Html.DisplayFor(m => m.DonderdagViewModel.Dessert)</td>
        <td>@Html.DisplayFor(m => m.VrijdagViewModel.Dessert)</td>
    </tr>
</table>

