@model KinderhuisStageOpdracht.Models.Viewmodels.StrafViewModel.StrafIndexViewModel
@{
    ViewBag.Title = "CreateStraf";
}

<h2>CreateStraf</h2>
@using (Html.BeginForm("CreateStraf", "Straf", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    <table class="form">
        <tr>
            <th>
                @Html.LabelFor(m => m.Naam, new { @class = "control-label" })
            </th>
            <td>
                @Html.TextBoxFor(m => m.Naam, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Naam, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(m => m.ImageUpload, new { @class = "col-md-2 control-label" })
            </th>
            <td>
                @Html.TextBoxFor(m => m.ImageUpload, new { type = "file" })
                @Html.ValidationMessageFor(m => m.ImageUpload, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>


    <table class="buttontable">
        <tr>
            <td>
                <input type="submit" class="button" value="Doe de suggestie" />
            </td>
            <td>
                <span class="terugButton">
                    @Html.ActionLink("Terug naar index", "Index", "Straf")
                </span>
            </td>
        </tr>
    </table>
}

