@model KinderhuisStageOpdracht.Models.Viewmodels.StrafViewModel.StrafListIndexViewModel
@{
    ViewBag.Title = "Index";
}


<div id="strafIndex">
    @using (Html.BeginForm("Index", "Straf", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        <div id="strafToevoegen">
            @Html.AntiForgeryToken()
            <h2>Straf toevoegen</h2>
            <table class="form">
                <tr>
                    <th>
                        @Html.LabelFor(m => m.StrafIndexViewModel.Naam, new { @class = "control-label" })
                    </th>
                    <td>
                        @Html.TextBoxFor(m => m.StrafIndexViewModel.Naam, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.StrafIndexViewModel.Naam, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(m => m.StrafIndexViewModel.ImageUpload, new { @class = "control-label" })
                    </th>
                    <td>
                        @Html.TextBoxFor(m => m.StrafIndexViewModel.ImageUpload, new { type = "file", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.StrafIndexViewModel.ImageUpload, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>

        <table class="buttontable">
            <tr>
                <td>
                    <input type="submit" class="button" value="Voeg straf toe" />
                </td>
                <td>
                    <span class="terugButton">
                        @Html.ActionLink("Terug naar index", "OpvoederIndex", "Gebruiker")
                    </span>
                </td>
            </tr>
        </table>

        <div class="KamerOpdrachtCardSystem">
            @foreach (var o in Model.List)
            {
                <div class="KamerOpdrachtCard">
                    <div class="KamerOpdrachtCardTitelBlok">
                        @Html.DisplayFor(modelItem => o.Naam)
                    </div>
                    <div class="KamerOpdrachtCardImageBlok">
                        <img src="@Url.Content(o.ImageUrl)" />
                    </div>
                    <div class="KamerOpdrachtCardActionBlok">

                    </div>

                </div>

            }
        </div>

        
    }
</div>