@using System.Collections.Concurrent
@model KinderhuisStageOpdracht.Models.Viewmodels.StrafViewModel.StrafListIndexViewModel
@{
    ViewBag.Title = "Index";
}


<div id="strafIndex">
    @using (Html.BeginForm("Index", "Straf", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        <div id="strafToevoegen">
            @Html.AntiForgeryToken()
            <table class="form">
                <tr>
                    <th>
                        @Html.LabelFor(m => m.StrafIndexViewModel.Naam, new { @class = "control-label" })
                    </th>
                    <td>
                        @Html.TextBoxFor(m => m.StrafIndexViewModel.Naam, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.StrafIndexViewModel.Naam, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(m => m.StrafIndexViewModel.StrafOfBeloning, new { @class = "control-label" })
                    </th>
                    <td>
                        @Html.RadioButtonFor(m => m.StrafIndexViewModel.StrafOfBeloning, false, new { @checked = true }) Beloning
                        @Html.RadioButtonFor(m => m.StrafIndexViewModel.StrafOfBeloning, true) Straf
                    </td>
                </tr>

            </table>
        </div>

        <table class="buttontable">
            <tr>
                <td>
                    <input type="submit" class="button" value="Bevestingen" />
                </td>
                <td>
                    <span class="terugButton">
                        @Html.ActionLink("Terug", "OpvoederIndex", "Gebruiker")
                    </span>
                </td>
            </tr>
        </table>

        <div class="KamerOpdrachtCardSystem">
            @foreach (var o in Model.List)
            {
                <div class="KamerOpdrachtCard">

                    @if (o.StrafOfBeloning)
                    {
                        <div class="KamerOpdrachtCardTitelBlok" style="background-color: rgb(234, 67, 53);">
                            @Html.DisplayFor(modelItem => o.Naam)
                        </div>
                    }
                    else
                    {
                        <div class="KamerOpdrachtCardTitelBlok" style="background-color: rgb(52,168, 83);">
                            @Html.DisplayFor(modelItem => o.Naam)
                        </div>
                    }


                    <div class="KamerOpdrachtCardImageBlok">
                        <img src="@Url.Content(o.ImageUrl)" style="border: none;" />
                    </div>
                    <div class="KamerOpdrachtCardActionBlok">
                        @Ajax.ActionLink("Verwijderen", "DeleteStraf", "Straf", new { id = o.Id }, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            OnComplete = "window.location.reload()"
                        })
                    </div>

                </div>

            }
        </div>


    }
</div>